.main__container {
  @include flex-row;
}

.product__container {
  margin-top: -3.8rem;
  background-color: rgb(241, 241, 241);
  flex: 1;
  padding: 1rem 5rem;
  padding-bottom: 4rem;
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));

    grid-gap: 3rem;
  }
}
.product__box {
  padding: 0 0 4rem 0;
  background-color: #fff;
  max-width: 30rem;
  text-align: center;
  box-shadow: 3px 8px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 8px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 8px 5px 0px rgba(0, 0, 0, 0.5);
  &__contents {
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
  }
}

.recipe__details__container {
  padding: 1rem 20rem;
}

.recipe__details {
  @include flex-row;
  flex-wrap: wrap;

  &__image {
    flex: 0 0 68%;
  }
  &__side {
    flex: 1;
    padding-left: 3.5rem;
  }
}

.recipe__heading {
  font-family: sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
}

.recipe__details__contents {
  padding: 3rem 0;
}
.reviews {
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;

  &__image {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    vertical-align: middle;
  }

  &__left {
    flex: 0 0 40%;
  }

  &__upper {
    margin-top: 2rem;
    min-width: 22%;
    display: flex;
    margin-left: -8rem;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    font-size: 2rem;
  }
}

.product__image {
  width: 30rem;
  height: 25rem;
}
.recommendations {
  background-color: rgba(87, 74, 57, 0.062);
  padding: 3.5rem 5rem;
}

.recipe__image {
  height: auto;
  width: 90%;
}
